<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MedReach</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DoctorLog</display-name>
    <servlet-name>DoctorLog</servlet-name>
    <servlet-class>com.vinay.MedReach.DoctorLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorLog</servlet-name>
    <url-pattern>/DoctorLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLog</display-name>
    <servlet-name>AdminLog</servlet-name>
    <servlet-class>com.vinay.MedReach.AdminLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLog</servlet-name>
    <url-pattern>/AdminLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientLog</display-name>
    <servlet-name>PatientLog</servlet-name>
    <servlet-class>com.vinay.MedReach.PatientLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientLog</servlet-name>
    <url-pattern>/PatientLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorRegister</display-name>
    <servlet-name>DoctorRegister</servlet-name>
    <servlet-class>com.vinay.MedReach.DoctorRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorRegister</servlet-name>
    <url-pattern>/DoctorRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientRegister</display-name>
    <servlet-name>PatientRegister</servlet-name>
    <servlet-class>com.vinay.MedReach.PatientRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientRegister</servlet-name>
    <url-pattern>/PatientRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword</display-name>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>com.vinay.MedReach.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePass</display-name>
    <servlet-name>ChangePass</servlet-name>
    <servlet-class>com.vinay.MedReach.ChangePass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePass</servlet-name>
    <url-pattern>/ChangePass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookAppointment</display-name>
    <servlet-name>BookAppointment</servlet-name>
    <servlet-class>com.vinay.MedReach.BookAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookAppointment</servlet-name>
    <url-pattern>/BookAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addprescription</display-name>
    <servlet-name>Addprescription</servlet-name>
    <servlet-class>com.vinay.MedReach.Addprescription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addprescription</servlet-name>
    <url-pattern>/Addprescription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPrescription</display-name>
    <servlet-name>AddPrescription</servlet-name>
    <servlet-class>com.vinay.MedReach.AddPrescription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPrescription</servlet-name>
    <url-pattern>/AddPrescription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceptAppointment</display-name>
    <servlet-name>AcceptAppointment</servlet-name>
    <servlet-class>com.vinay.MedReach.AcceptAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptAppointment</servlet-name>
    <url-pattern>/AcceptAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassPet</display-name>
    <servlet-name>ChangePassPet</servlet-name>
    <servlet-class>com.vinay.MedReach.ChangePassPet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassPet</servlet-name>
    <url-pattern>/ChangePassPet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPrescriptions</display-name>
    <servlet-name>AddPrescriptions</servlet-name>
    <servlet-class>com.vinay.MedReach.AddPrescriptions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPrescriptions</servlet-name>
    <url-pattern>/AddPrescriptions</url-pattern>
  </servlet-mapping>
</web-app>